@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 100;
  src: url(https://fonts.gstatic.com/l/font?kit=S6u-w4BMUTPHjxsIPy-qLq3pzfwXzdB98ObsJqSBFXoHaOA_HQcuBO6B5BJN26m2-0p2lBGNK_jZJft1hkJ_btL29usbPaARYnUibudiivzZFZBalmRVi8evXmQ6fFiQf1ZiJLdgRmSiFQFG_vSl6oS7nyijLZmFq-9W4GhylQ-HiFCZypHHbJEd7gq4UQ9cfbDdc48T_5x-dE9s&skey=3404b88e33a27f67&v=v14) format('woff2');
}
body{
    background-color: #EC3400;
}
div[header]{
    position: absolute;
    background: yellow;
    opacity: 1;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    float: top;
    width: 25%;
    height: 50px;
    margin-left: -8px;
    margin-right: -10px;
    margin-top: -110px;
    border: 5px solid yellow;
    border-radius: 0px 0px 5px 0px;
}
[arial]{
    font-family: 'Lato';
    font-weight: bold;
}
.thin{
    font-weight: normal;
}
[big]{
    font-size: 25px;
    }
[mid]{
    font-size: 20px;
}
[small]{
    font-size: 5px;
}
[top]{
    padding: 0px;
    position: absolute;
    top: 0;
    left: 0;
    background: #a00000;
    color: #a00000;
    width: 100%;
    height: 50px;
    
}
[bottom]{
    margin-left: -8px;
    margin-right: auto;
    margin-bottom: auto;
    padding-bottom: auto;
    height: 200px;
    position: absolute;
    width: 100%;
    float: bottom;
    background-color: #a00000;
}
[bt]{
    padding-top: 50px;
    margin-left: 1%;
    margin-right: 1%;
    color: yellow;
}
[tb]{
    margin: 0px 5px 0px 5px;
    padding-top: 10px;
    background-color: gray;
    border: solid gray 2px;
    border-radius: 5px;
    color: #fff;
}[tb]:hover{
    color: orange;
}
img{
    display: block;
    margin-left: auto;
    margin-right: 75%;
    margin: top: 50px;
    border: solid yellow 5px;
    border-radius: 5px;
    width: 275px;
    height: 300px;
    cursor: pointer;
}
[l]{
    cursor: pointer;
}
[words]{
    margin-right: 70%;
    text-align: center;
    color: yellow;
}
[genre]{
    font-size: 20px;
    opacity: 0.75;
}
#ht{
    color: red;
}
#tbStart{
    margin: 0px 0px 0px 26%;
}
#bBar{
    background-color: gray;
    margin-top: 50px;
    width: 100%;
    height: 50px;
    float: left;
}
#container{
    
}



